body {
  font-family: Segoe UI, sans-serif;
  background-color: #ccdece;
  text-align: center;
  color: #39593d;
}

img {
  max-width: 40%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

#input-container {
  margin: 1em 0em;
}

footer {
  margin-top: 2em;
  text-align: center;
}

a {
  color: #7b3a91;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}